<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - OpenBiz</title>
  <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="~/lib/admin-lte/dist/css/AdminLTE.css" rel="stylesheet" />
  <link href="~/lib/admin-lte/dist/css/skins/_all-skins.css" rel="stylesheet" />
  <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href="~/lib/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
  <link href="~/lib/datatables-scroller/css/scroller.dataTables.css" rel="stylesheet" />
  <link href="~/lib/patternfly/dist/css/patternfly.css" rel="stylesheet" />
  <link href="~/lib/patternfly/dist/css/patternfly-additions.css" rel="stylesheet" />

  <script type="text/javascript">
    function initMap() {
      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -34.397, lng: 150.644 },
        scrollwheel: false,
        zoom: 8
      });
    }
  </script>
</head>
