<footer class="footer modal-footer" style="position:absolute;bottom:0;">
  <p>&copy; @DateTime.Now.Year - Copyright OpenBiz</p>
  <script type="text/javascript" language="javascript" src="~/lib/jquery/dist/jquery.js"></script>
  <script type="text/javascript" language="javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
  <script type="text/javascript" language="javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
  <script type="text/javascript" language="javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" language="javascript" src="~/lib/admin-lte/dist/js/app.js"></script>
  <script type="text/javascript" language="javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCidcc1A_arh6jjwEae2RMDL23kNvMdCUM&signed_in=true&libraries=places&callback=initMap"
          async defer></script>
</footer>
