@model OpenBiz.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" enctype="multipart/form-data">
  <div class="form-horizontal">
    <h4>Product</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="CategoryID" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <select asp-for="CategoryID" asp-items="@(new SelectList(Model.Categories,"CategoryID","CategoryName"))" class="form-control"></select>
      </div>
    </div>
    <div class="form-group">
      <label asp-for="DateOut" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="DateOut" class="form-control" />
        <span asp-validation-for="DateOut" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="ProductDescription" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <textarea asp-for="ProductDescription" class="form-control"></textarea>
        <span asp-validation-for="ProductDescription" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="ProductName" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="ProductPrice" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="ProductPrice" class="form-control" />
        <span asp-validation-for="ProductPrice" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="QuantityOnHand" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <input asp-for="QuantityOnHand" class="form-control" />
        <span asp-validation-for="QuantityOnHand" class="text-danger" />
      </div>
    </div>
    <div class="form-group">
      <label asp-for="ProductImage" class="col-md-2 control-label"></label>
      <div class="col-md-10">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div id="preview" class="fileinput-new thumbnail" style="width: 100px; height: 100px;" data-trigger="fileinput">
            <img src="http://placehold.it/200x200" alt="...">
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px"></div>
          <div>
            <span class="btn btn-white btn-file">
              <span class="btn btn-orange fileinput-new">Select image</span>
              <span class="btn btn-danger fileinput-exists">Change</span>
              <input asp-for="ProductImage">
            </span>
            <a href="#" class="btn btn-orange fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
          <span asp-validation-for="ProductImage"></span>
        </div>
    </div>

      <div class=""></div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
      </div>
    </div>
  </div>
</form>

<div>
  <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
  <script language="javascript" type="text/javascript">

$(function () {
  $("#ProductImage").change(function () {
    $("#")
    });

});

</script>
}